.footer {
    background-color: rgb(19, 19, 19);
}

.container {
    width: 1500px;
    margin: auto;
    margin-top: 50px;
}

.footer-header {
    display: flex;
    column-gap: 20px;
    padding-block: 30px;
}

.footer-text {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--main-text-color);
    text-decoration: none;
    transition: color var(--transiton-base);
}

.footer-text:hover {
    color: #d4c925;
}

.footer-info__text {
    padding: 0 0 20px 0;
    color: #c5c4c4;
}

@media (max-width: 1440px) {
    .footer-header,
    .footer-info {
        padding-inline: 30px;
    }
}

@media (max-width: 1024px) {
    .footer-header,
    .footer-info {
        padding-inline: 30px;
    }
}

@media (max-width: 768px) {
    .footer-header,
    .footer-info {
        padding-inline: 30px;
    }

    .footer-info {
        font-size: 15px;
    }

    .footer-header {
        padding-block: 20px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    .footer-header {
        padding-block: 15px;
    }

    .footer-header,
    .footer-info {
        column-gap: 7px;
        padding-inline: 20px;
    }

    .footer-text {
        font-size: 8px;
    }

    .footer-info {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .footer-text {
        font-size: 7px;
    }

    .footer-info__text {
        font-size: 10px;
    }
}